<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awatif UI - Layout</title>
    <style>
      #layout .viewer {
        background: #2d2d2d;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #layout .display {
        background: #3a4a5a;
      }
      #layout .header {
        background: #4a3a3a;
      }
      #layout .footer {
        background: #3a3a4a;
      }
      #layout .toolbar {
        background: #4a4a3a;
      }
      #layout .parameters {
        background: #3a4a5a;
      }
    </style>
  </head>
  <body>
    <script type="module">
      import { getLayout } from "./getLayout.ts";

      const viewer = (document.createElement("div").textContent =
        "Viewer Element");
      const header = (document.createElement("div").textContent =
        "Header Element");
      const display = (document.createElement("div").textContent =
        "Display Element");
      const toolbar = (document.createElement("div").textContent =
        "Toolbar Element");
      const parameters = (document.createElement("div").textContent =
        "Parameters Element");

      document.body.append(
        getLayout({ viewer, header, display, toolbar, parameters })
      );
    </script>
  </body>
</html>
