<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awatif UI - Layout</title>
    <style>
      #layout .viewer {
        background: #fcfff7;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #layout .display {
        background: #9ad0f5;
      }
      #layout .header {
        background: #ffc7c7;
      }
      #layout .footer {
        background: #d1c4e9;
      }
      #layout .inputs {
        background: #f5e79d;
      }
      #layout .parameters {
        background: #9ad0f5;
      }
    </style>
  </head>
  <body>
    <script type="module">
      import { getLayout } from "./getLayout.ts";

      const viewer = (document.createElement("div").textContent =
        "Viewer Element");
      const header = (document.createElement("div").textContent =
        "Header Element");
      const display = (document.createElement("div").textContent =
        "Display Element");
      const inputs = (document.createElement("div").textContent =
        "Inputs Element");
      const parameters = (document.createElement("div").textContent =
        "Parameters Element");

      document.body.append(
        getLayout({ viewer, header, display, inputs, parameters })
      );
    </script>
  </body>
</html>
