* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#layout .viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#layout .top {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

#layout .header {
  margin-left: auto;
}

#layout .bottom {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-top: auto;
}

#layout .parameters {
  margin-left: auto;
}
