* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#layout .top {
  display: flex;
  flex-wrap: wrap;
}

#layout .display {
  background: #9ad0f5;
}

#layout .header {
  margin-left: auto;
  background: #ffc7c7;
}

#layout .footer {
  margin-top: auto;
  background: #d1c4e9;
}
