.topBar {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.topBar a {
  text-decoration: none;
  font-family: Arial;
  background-color: #2e5368; /* Green background */
  color: white;                       /* White text */
  border: none;                       /* No border */
  padding: 10px 20px;                 /* Top and bottom padding of 10px, left and right padding of 20px */
  text-align: center;                 /* Center text alignment */
  text-decoration: none;              /* No underline */
  display: inline-block;              /* Allow it to sit alongside other inline elements */
  font-size: 12px;                    /* Larger text size */
  font-family: Arial;                 /* Font style Arial */
  cursor: pointer;                    /* Pointer cursor on hover */
  border-radius: 12px;                /* Rounded edges */
  transition: background-color 0.3s;
}

canvas {
  position: absolute;
}

dialog {
  position: fixed;
  z-index: 2;
  overflow: auto;
  width: calc(100% - 292px - 3rem);
  height: calc(100% - 3rem);
  margin: 2rem 1rem 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  dialog {
    width: calc(100% - 2rem);
    height: calc(70%);
  }
}

dialog .close {
  color: #000000;
  float: right;
  margin-top: -5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.dialog-header {
  background: lightgray;
  padding: 15px;
}

.dialog-body {
  padding: 0 15px;
}
