.topBar {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.topBar a {
  color: white;
  text-decoration: none;
}

canvas {
  position: absolute;
}

dialog {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

dialog .close {
  color: #000;
  float: right;
  margin-top: -5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.dialog-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 80%;
  height: 95%;
}

.dialog-header {
  background: lightgray;
  padding: 15px;
}

.dialog-body {
  padding: 0 15px;
}
