.topBar {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.topBar a {
  text-decoration: none;
  color: white;
}

canvas {
  position: absolute;
}

/* dialog-report */
dialog.dialog-report {
  position: fixed;
  z-index: 2;
  overflow: auto;
  width: calc(100% - 292px - 3rem);
  height: calc(100% - 3rem);
  margin: 2rem 1rem 0;
  padding: 0;
  background-color: #f9f9f9; /* Light background */
  border: 2px solid #ccc; /* Subtle border */
}

dialog.dialog-report .close {
  color: #000000;
  float: right;
  position: relative;
  margin-top: -13px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.dialog-report .dialog-header {
  background: lightgray;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.dialog-report .dialog-body {
  padding: 0 15px;
}

.print-button {
  position: absolute;
  top: 150px;
  right: 25px;
  width: 60px;
  height: 30px;
  color: #fefafa;
  background-color: #2e5368; /* Light red background */
  border-radius: 10px;
  font-family: "Arial", sans-serif; /* Set font family */
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center; /* Center text */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.report-button {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 80px;
  height: 40px;
  color: #fefafa;
  background-color: #2e5368; /* Light red background */
  border-radius: 10px;
  font-family: "Arial", sans-serif; /* Set font family */
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center; /* Center text */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.report-button:hover {
  background-color: #333333; /* Darker red on hover */
  color: #fff;
}

.report-button:active {
  transform: scale(0.95);
}

