#tooltips {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content; /* Fix blocking the viewer pointer events */

  color: var(--text-secondary);
  font-size: 0.8rem;
}

#tooltips a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s ease;
}

#tooltips a:hover {
  color: var(--accent-hover);
}
