#drawing-toolbar{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2; /* On top of the viewer */
  background-color: #3e3f44 !important;
  color: #adafb8 !important;
  border-radius: 4px;
}

#w2toolbar {
  background-color: #3e3f44 !important; /* Dark grey (matches snap tip) */
  border-color: #1a1a1a !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important;
}

/* Buttons & Items */
.w2ui-tb-button, 
.w2ui-tb-image, 
.w2ui-tb-text {
  color: #adafb8 !important;
  background-color: transparent !important;
  cursor: pointer;
  font-family: Consolas, Menlo, monospace !important;
}

.checked {
  background-color: #28292e !important;
}

/* Button Hover State */
.w2ui-tb-button:hover, 
.w2ui-tb-image:hover {
  background-color: #28292e !important; /* Slightly lighter grey */
}

/* Button Active/Pressed State */
.w2ui-tb-button:active, 
.w2ui-tb-image:active {
  background-color: #28292e !important; /* Darker grey (matches key cap) */
}

/* Separators */
.w2ui-tb-separator {
  border-left-color: #444 !important;
}

/* Dropdown Arrows */
.w2ui-tb-down:after {
  border-top-color: white !important;
}

/* Disabled Items */
.w2ui-tb-button.disabled, 
.w2ui-tb-image.disabled {
  color: #777 !important;
}

.snap-tip {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3e3f44;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  /* font-family: 'Segoe UI', Arial, sans-serif; */
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.2); */
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.snap-tip.show {
  opacity: 1;
}

.snap-tip .key {
  background-color: #28292e;
  padding: 3px 8px;
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
  /* box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2); */
}