<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awatif Components - Mesh - Line Mesh</title>
    <style>
      body {
        margin: 0;
      }

      #controls {
        position: absolute;
        top: 20px;
        left: 20px;
        background: rgba(255, 255, 255, 0.9);
        padding: 15px;
        border-radius: 8px;
        z-index: 1000;
      }
    </style>
  </head>
  <body>
    <script type="module">
      import van from "vanjs-core";
      import { render } from "lit-html";
      import { lineMesh } from "./lineMesh.ts";
      import { getViewer } from "../../../ui/viewer/getViewer.ts";

      const params = van.state(lineMesh.defaultParams);

      // Control
      const controls = document.createElement("div");
      controls.id = "controls";

      van.derive(() => {
        render(lineMesh.getTemplate({ params }), controls);
      });

      // Mesh
      const mesh = {
        nodes: van.state([]),
        elements: van.state([]),
        visible: van.state(true),
      };

      van.derive(() => {
        const meshData = lineMesh.getMesh({
          params: params.val,
        });

        const nodes = meshData.nodes.map(([t]) => [-5 + t * 10, 0, 0]);

        mesh.nodes.val = nodes;
        mesh.elements.val = meshData.elements;
      });

      document.body.append(getViewer({ mesh }), controls);
    </script>
  </body>
</html>
