/* Stretching to its container allow size change events */
#layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#layout .w2ui-panel-title {
  height: 35px;
  font-size: 16px;
  font-family: OpenSans;
}
