<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awatif UI - Components Bar</title>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <script type="module">
      import van from "vanjs-core";
      import { getComponentsBar } from "./getComponentsBar.ts";

      const componentsBarMode = van.state(null);

      van.derive(() => console.log(componentsBarMode.val));

      document.body.append(getComponentsBar({ componentsBarMode }));
    </script>
  </body>
</html>
