#toolbar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2; /* On top of the viewer */
}

#toolbar .buttons-container {
  display: flex;
  gap: 5px;
}

#toolbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s;
}

#toolbar .btn-text {
  background-color: #ddd;
}
#toolbar .btn-text:hover {
  background-color: #bbb;
}

#toolbar .btn-icon {
  background-color: rgb(0 95 115);
  fill: rgb(255, 255, 255);
}

/* Dropdown */
#toolbar #dropdown-menu {
  position: absolute;
  top: 115%;
  right: 5px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
}

#toolbar .dropdown-link {
  font-size: 12px;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}

#toolbar .dropdown-link:hover {
  background-color: #f1f1f1;
  transition: background 0.3s;
}
