#toolbar {
  display: flex;
  gap: 8px;
  padding: 5px;
  background: #e7e7e7;
  max-width: 600px;
  margin-bottom: 30px; /* Remove when implementing tooltip */
}

#toolbar .toolbar-button {
  padding: 6px 12px;
  cursor: pointer;
  background: #bbbbbb;
  border: none;
  border-radius: 3px;
}

#toolbar .toolbar-button:hover {
  background: #aaaaaa;
}

#toolbar .toolbar-button.active {
  background: #ffd0d0;
}
