#display {
  /* Layout */
  width: 300px;
  margin-left: 10px;

  /* Looks */
  background: #e7e7e7;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#display summary {
  padding: 4px 8px;

  /* Looks */
  cursor: pointer;
  background: #bbbbbb;
}

#display .display-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
}

#display .display-item label {
  margin-right: auto;
}

#display .display-item input {
  max-width: 50px;
}
