:root {
  --button-height: 5px;
  --button-color: white;
  --slide-color: white;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  align-items: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px;
  border-radius: 2.5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%;
  background: var(--slide-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: var(--slide-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.player {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
}

button {
  margin: 0;
  padding: 0;
}

.play {
  height: 0;
  width: 0;
  margin-left: calc(2 * 0.14 * var(--button-height));
  /*margin-left: 17px;*/
  background: none;
  border: none;
  border-top: var(--button-height) solid transparent;
  border-bottom: var(--button-height) solid transparent;
  border-left: calc(var(--button-height) * 2 * 0.86) solid var(--button-color);
}

.pause {
  position: relative;
  background: none;
  border: none;
  height: calc(var(--button-height) * 2);
  width: calc(var(--button-height) * 2 * 0.86);
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 33%;
    background: var(--button-color);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.hidden {
  display: none;
}
.topBar {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.topBar a {
  text-decoration: none;
  font-family: Arial;
  background-color: #2e5368; /* Green background */
  color: white;                       /* White text */
  border: none;                       /* No border */
  padding: 10px 20px;                 /* Top and bottom padding of 10px, left and right padding of 20px */
  text-align: center;                 /* Center text alignment */
  text-decoration: none;              /* No underline */
  display: inline-block;              /* Allow it to sit alongside other inline elements */
  font-size: 12px;                    /* Larger text size */
  font-family: Arial;                 /* Font style Arial */
  cursor: pointer;                    /* Pointer cursor on hover */
  border-radius: 12px;                /* Rounded edges */
  transition: background-color 0.3s;
}

canvas {
  position: absolute;
}

dialog {
  position: fixed;
  z-index: 2;
  overflow: auto;
  width: calc(100% - 292px - 3rem);
  height: calc(100% - 3rem);
  margin: 2rem 1rem 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  dialog {
    width: calc(100% - 2rem);
    height: calc(70%);
  }
}

dialog .close {
  color: #000000;
  float: right;
  margin-top: -5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.dialog-header {
  background: lightgray;
  padding: 15px;
}

.dialog-body {
  padding: 0 15px;
}
